openapi: 3.1.0
info:
  title: Notion (complete autonomous agent - strict parser friendly)
  version: "1.0.0"
  description: >
    A strict, parser-friendly OpenAPI schema for the Notion API, tailored for
    autonomous agents. It focuses on the endpoints and request shapes needed for
    reliable search, read, and write workflows.
servers:
  - url: https://api.notion.com

tags:
  - name: Search
    description: Workspace-wide search.
  - name: Databases
    description: Query database content.
  - name: Pages
    description: Create, retrieve, and update pages.
  - name: Blocks
    description: Read, update, append, and delete blocks.
  - name: File Uploads
    description: Create, send, and complete file uploads.
  - name: Comments
    description: Create comments.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "Notion integration token or OAuth access token"

  schemas:
    # ---------- Core requests ----------
    SearchRequest:
      type: object
      additionalProperties: false
      properties:
        query:
          type: string
          nullable: true
        filter:
          type: object
          additionalProperties: false
          properties:
            value:
              type: string
              enum: [page, database]
            property:
              type: string
              enum: [object]
        sort:
          type: object
          additionalProperties: false
          properties:
            direction:
              type: string
              enum: [ascending, descending]
            timestamp:
              type: string
              enum: [last_edited_time]
        start_cursor:
          type: string
        page_size:
          type: integer
          minimum: 1
          maximum: 100

    QueryDatabaseRequest:
      type: object
      additionalProperties: true
      properties:
        filter:
          type: object
          additionalProperties: true
          properties: {}
        sorts:
          type: array
          items:
            type: object
            additionalProperties: true
            properties: {}
        start_cursor:
          type: string
        page_size:
          type: integer
          minimum: 1
          maximum: 100

    CreatePageRequest:
      type: object
      additionalProperties: true
      required: [parent, properties]
      properties:
        parent:
          type: object
          additionalProperties: true
          properties:
            database_id: { type: string }
            page_id: { type: string }
        properties:
          type: object
          additionalProperties: true
          properties: {}
        children:
          type: array
          items:
            type: object
            additionalProperties: true
            properties: {}

    UpdatePageRequest:
      type: object
      additionalProperties: true
      properties:
        properties:
          type: object
          additionalProperties: true
          properties: {}
        archived:
          type: boolean
        icon:
          type: object
          additionalProperties: true
          properties: {}
        cover:
          type: object
          additionalProperties: true
          properties: {}

    # ---------- Blocks: update + append ----------
    # IMPORTANT: explicit properties avoid "kwargs" misrouting in strict tool runners.
    UpdateBlockRequest:
      type: object
      additionalProperties: false
      properties:
        paragraph:
          type: object
          additionalProperties: true
          properties: {}
        heading_1:
          type: object
          additionalProperties: true
          properties: {}
        heading_2:
          type: object
          additionalProperties: true
          properties: {}
        heading_3:
          type: object
          additionalProperties: true
          properties: {}
        bulleted_list_item:
          type: object
          additionalProperties: true
          properties: {}
        numbered_list_item:
          type: object
          additionalProperties: true
          properties: {}
        to_do:
          type: object
          additionalProperties: true
          properties: {}
        toggle:
          type: object
          additionalProperties: true
          properties: {}
        quote:
          type: object
          additionalProperties: true
          properties: {}
        callout:
          type: object
          additionalProperties: true
          properties: {}
        code:
          type: object
          additionalProperties: true
          properties: {}
        divider:
          type: object
          additionalProperties: true
          properties: {}
        table:
          type: object
          additionalProperties: true
          properties: {}
        table_row:
          type: object
          additionalProperties: true
          properties: {}
        bookmark:
          type: object
          additionalProperties: true
          properties: {}
        image:
          type: object
          additionalProperties: true
          properties: {}
        file:
          type: object
          additionalProperties: true
          properties: {}
        video:
          type: object
          additionalProperties: true
          properties: {}
        audio:
          type: object
          additionalProperties: true
          properties: {}
        pdf:
          type: object
          additionalProperties: true
          properties: {}

    # ---------- File uploads ----------
    CreateFileUploadRequest:
      type: object
      additionalProperties: false
      properties:
        mode:
          type: string
          enum: [single_part, multi_part, external_url]
        filename:
          type: string
        content_type:
          type: string
        number_of_parts:
          type: integer
          minimum: 1
          maximum: 10000
        external_url:
          type: string

    CompleteFileUploadRequest:
      type: object
      additionalProperties: false
      properties: {}

    AppendBlockChildrenRequest:
      type: object
      additionalProperties: false
      required: [children]
      properties:
        children:
          type: array
          items:
            type: object
            additionalProperties: true
            properties: {}
        after:
          type: string

    # ---------- Comments (optional, but useful) ----------
    CreateCommentRequest:
      type: object
      additionalProperties: true
      properties: {}

security:
  - bearerAuth: []

paths:
  # ---------- Search ----------
  /v1/search:
    post:
      operationId: search
      summary: Full-text search across the workspace
      description: Search pages and databases by keyword.
      tags: [Search]
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        "200":
          description: OK

  # ---------- Database query ----------
  /v1/databases/{database_id}/query:
    post:
      operationId: queryDatabase
      summary: Query a Notion database
      description: Filter and sort database rows.
      tags: [Databases]
      parameters:
        - name: database_id
          in: path
          required: true
          schema: { type: string }
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDatabaseRequest'
      responses:
        "200":
          description: OK

  # ---------- Pages ----------
  /v1/pages:
    post:
      operationId: createPage
      summary: Create a page in a database or under a parent page
      description: Create a new page in a database or as a child of a page.
      tags: [Pages]
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePageRequest'
      responses:
        "200":
          description: OK

  /v1/pages/{page_id}:
    get:
      operationId: retrievePage
      summary: Retrieve a page object
      description: Fetch page metadata and properties.
      tags: [Pages]
      parameters:
        - name: page_id
          in: path
          required: true
          schema: { type: string }
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      responses:
        "200":
          description: OK

    patch:
      operationId: updatePage
      summary: Update page properties or archive/unarchive
      description: Update properties, icon, cover, or archived state.
      tags: [Pages]
      parameters:
        - name: page_id
          in: path
          required: true
          schema: { type: string }
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePageRequest'
      responses:
        "200":
          description: OK

  # ---------- Blocks ----------
  /v1/blocks/{block_id}:
    get:
      operationId: retrieveBlock
      summary: Retrieve a block object
      description: Fetch a block by ID.
      tags: [Blocks]
      parameters:
        - name: block_id
          in: path
          required: true
          schema: { type: string }
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      responses:
        "200":
          description: OK

    patch:
      operationId: updateBlock
      summary: Update a block (text/structure). Body must include a block-type key (e.g. paragraph, heading_2, callout).
      description: Update content or structure for a single block.
      tags: [Blocks]
      parameters:
        - name: block_id
          in: path
          required: true
          schema: { type: string }
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBlockRequest'
      responses:
        "200":
          description: OK

    delete:
      operationId: deleteBlock
      summary: Archive (trash) a block
      description: Archive a block (soft-delete).
      tags: [Blocks]
      parameters:
        - name: block_id
          in: path
          required: true
          schema: { type: string }
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      responses:
        "200":
          description: OK

  /v1/blocks/{block_id}/children:
    get:
      operationId: listBlockChildren
      summary: List children blocks of a block (use page_id as block_id to read page content)
      description: Paginate through child blocks for a block or page.
      tags: [Blocks]
      parameters:
        - name: block_id
          in: path
          required: true
          schema: { type: string }
        - name: start_cursor
          in: query
          required: false
          schema: { type: string }
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      responses:
        "200":
          description: OK

    patch:
      operationId: appendBlockChildren
      summary: Append children blocks to a block (use after to insert at a position)
      description: Append new child blocks, optionally after a specific block.
      tags: [Blocks]
      parameters:
        - name: block_id
          in: path
          required: true
          schema: { type: string }
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppendBlockChildrenRequest'
      responses:
        "200":
          description: OK

  # ---------- Comments (optional) ----------
  /v1/comments:
    post:
      operationId: createComment
      summary: Create a comment (optional)
      description: Create a comment on a page or block.
      tags: [Comments]
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentRequest'
      responses:
        "200":
          description: OK

  # ---------- File uploads ----------
  /v1/file_uploads:
    post:
      operationId: createFileUpload
      summary: Create a file upload
      description: Create a file upload object to begin the upload lifecycle.
      tags: [File Uploads]
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileUploadRequest'
      responses:
        "200":
          description: OK

    get:
      operationId: listFileUploads
      summary: List file uploads
      description: List file upload objects.
      tags: [File Uploads]
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      responses:
        "200":
          description: OK

  /v1/file_uploads/{file_upload_id}:
    get:
      operationId: retrieveFileUpload
      summary: Retrieve a file upload
      description: Retrieve a file upload object by ID.
      tags: [File Uploads]
      parameters:
        - name: file_upload_id
          in: path
          required: true
          schema: { type: string }
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      responses:
        "200":
          description: OK

  /v1/file_uploads/{file_upload_id}/send:
    post:
      operationId: sendFileUpload
      summary: Send a file upload
      description: Send file bytes using multipart/form-data.
      tags: [File Uploads]
      parameters:
        - name: file_upload_id
          in: path
          required: true
          schema: { type: string }
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                part_number:
                  type: integer
                  minimum: 1
                  maximum: 1000
              required: [file]
      responses:
        "200":
          description: OK

  /v1/file_uploads/{file_upload_id}/complete:
    post:
      operationId: completeFileUpload
      summary: Complete a file upload
      description: Finalize a multi-part file upload after all parts are sent.
      tags: [File Uploads]
      parameters:
        - name: file_upload_id
          in: path
          required: true
          schema: { type: string }
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            example: "2022-06-28"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteFileUploadRequest'
      responses:
        "200":
          description: OK
